@import "variables";

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
}
::selection {
    background: $gold;
}
body {
	background-color: white;
}
//Start of Social Media
#social {
	width: 100%;
	height: 10vh;
	display: flex;
	padding: 12px 11px 0 0;
	z-index: 11;
	position: fixed; 
	justify-content: flex-end;
	img {
		width: 17px;
		margin-right: 5px;
	}
	@media(max-width: 1000px){
		display: none;
	}
}
//End of Social Media
//Start of Header
#header {
	text-align: center;
	background-color: white;
	width: 100%;
	height: 100%;
	img {
		width: 35%;
		@media(max-width:800px){
			width: 40%;
		}
		@media(max-width:500px){
			width: 55%;
		}
	}
}
//End of Header
//Start of Navigation
#maroon {
	background-color: $maroon;
	width: 100vw;
	height: 10px;
	overflow: hidden;
	margin-bottom: -2px;
}
#light-maroon {
	width: 0;
	height: 0;
	border-right: 50vw solid transparent;
	border-top: 450px solid $light-maroon;	
}
.navbar-nav {
	display: flex;
	justify-content: center;
	a {
		font: {
			family: $sans-serif;
			size: 14px;
		}
		@media(max-width: 900px) {
			font-size: 12px;
		}
		@media(max-width: 700px) {
			font-size: 10px;
		}
	}
}
.fixed-style {
  position: fixed;
  margin-top: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.navbar-toggler {
	float: right;
}
.search {
	width: 3%;
}
//End of Navigation

//Start of Slider
#slider {
	width: 100vw;
	height: 70vh;
	// background-color: red;
}
//End of Slider

//Start of Content 1
#content {
	height: 100%;
	width: 100vw;
	padding: 7% 10%;
	background-color: white;
}
//End of Content 1

//Start of H#
//End of H#

//Start of Latest 
.latest-1 {
	display:flex;
	width: 100%;
	height: 80px;
	margin-bottom: 2px;
	border-bottom: 1px solid #555;
	background-color: green;
		.latest-img {
			height: 70px;
			width: 70px;
				img {
					height: 100%;
					width: auto;
				}
		}
		.latest-desc {
			background-color: orange;
			width: 70%;
			padding: 7px;
			p {
				line-height: 16px;
				font {
					size: 14px;
					family: $sans-serif;
				}
			}
			.category {
				color: red;
				font-size: 9px;
				font-weight: bold;
			}
		}
}

//End of Latest


//Start of display-image
	#display-image {
		width: 100vw;
		height: 75vh;
		// background-color: blue;
		display: flex;
		justify-content: center;
		align-items: center;
		font: {
			family: $serif;
			size: 5em;
		}
		color: white;
		text-transform: uppercase;
	}
//End of display-image

//Start of Footer
footer {
	width: 100vw;
	height: 100%;
	margin-bottom: -1px;
	padding: 5%;
	background-color: #222;
	font: {
		size: 13px;
	}
	p {
		overflow: hidden;
		color: #999;
	}
	
}
.info, .explore, .subscribe {
	height: 100%;
}
.info {
	// background-color: red;
	border-right: 1px solid #999;
	img {
		width: 240px;
	}
}
.explore {
	div {
		margin-right: 50px;
		a{
			text-decoration: none;
			color: #999;
			font: {
				size: 14px;
				weight: lighter;
			}
		}
		a:hover {
			color: white;
		}
	}
	display: flex;
	flex-wrap: wrap;
	border-right: 1px solid #999;
}
.subscribe {
	.btn {
		width: 42px;
		height: 39px;
		position: absolute;
    	margin: -39px 0 0 205px;
		background: {
			repeat: no-repeat;
			position: center center;
			image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAMAAAAR8Wy4AAAAKlBMVEUAAAD///////////////////////////////////////////////////+Gu8ovAAAADXRSTlMAECAwQGBwgLDA0ODw+14txgAAAFVJREFUeAFty0sOxDAIA1APDORDfP/rtkVZkKpPLJAxEG+FC4KHwHoHxoNBrHSWCUJlcpuqAbKhMeWC5yAa5K4iX/3n9yxmkIbZYAKL76Dz0AH9F4oLUtYJK4cvleIAAAAASUVORK5CYII=);
		}
	}
	.form-control {
		width: 210px;
	}
}
.explore, .subscribe {
		padding-left: 30px;
		p {
		width: 900px;
		color: white;
		text-transform: uppercase;
		font: {
			family: $serif;
			size: 30px;
			weight: lighter;
		}
	}
}
.social-subscribe {
		width: 150px;
		height: 80px;
		display: flex;
		overflow: hidden;
		align-items: center;
		justify-content: space-between;
		// background-color: red;
		img {
			width: 30px;
			overflow: hidden;
			transition: all 220ms ease-out;
		}
		img:hover{
			transform: scale(1.4);
		}
}
//End of Footer

#column-1, #column-2, #column-3 {
	// margin: 2px;
	height: 100%;
	background-color: yellow;

}
#column-2 {
	background-color: red;
}